/* =========================================
ABOUT
============================================ */

#about{
	background: $cream;
}

.about__content{
	display: flex;
	padding: 40px 0;

	@media (max-width: 780px){
		flex-direction: column;
	}
}


.about-text{
	width: 60%;
	margin: 20px;
	padding: 20px 40px;
	background: $grey;
	box-shadow: 7px 7px #a0b7c9;
	border: 1px solid #a0b7c9;
	display: flex;
	flex-direction: column;

		@media (max-width: 780px){
		width: 90%;
		text-align: center;
		margin: 20px auto;
		}

	.button{
    display: block;
    width: 170px;
    margin: 0 auto;
	}
}

.about-image-container{
	width: 30%;
	margin: 30px;

	@media (max-width: 780px){
		width: 90%;
		margin: 20px auto;
	}

	img{
		box-shadow: 7px 7px #3c4862;
		border: 1px solid #3c4862;
		margin: 0 auto;
	}
}