/* =========================================
ABOUT
============================================ */

#about{
	background: $cream;
	padding-left: 10%; 
}

.about__content{
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}


.about-text{
	width: 60%;
	margin: 20px 0px 20px 40px;
	padding: 20px 40px;
	background: #fbfbfb;
	box-shadow: 7px 7px #a0b7c9;
	border: 1px solid #a0b7c9;
	display: flex;
	flex-direction: column;

	.button{
    display: block;
    width: 170px;
    margin: 0 auto;
	}
}

.about-image-container{
	width: 35%;
	min-width: 250px;
	position: relative;
	top: -60px;

	img{
		box-shadow: 7px 7px #3c4862;
		border: 1px solid #3c4862;
		margin: 0 auto;
	}
}


/* ------------  RESPONSIVE  ------------ */

		@media (max-width: 780px){

	.about-text{
		width: 90%;
		text-align: center;
		margin: 20px auto;
	}			

		}

@include mq(xxs){
	.about-image-container{
		width: 90%;
		margin: 20px auto;
	}
}