/* =========================================
CONTACT
============================================ */

#contact{
	background: $grey;
	margin-bottom: 250px;
}

form{
	width: 80%;
	margin: 20px auto;
	position: relative;
	text-align: center;
}

input{
	width: 48.5%;
}

textarea{
	width: 100%;
}

input, textarea{
	margin: 10px 0px;
	padding: 10px;
	border: none;
	border-bottom: 2px solid $medshade;
	font-family: $paragraph;
	color: $darkshade;
	font-size: 1.4rem;
}

label{
	position: absolute;
}

.form__inputs{
	display: flex;
	justify-content: space-between;
}

input:focus{
	outline: none;
	border: 2px solid $medshade
}

button{
	@extend .button;
	background: white;
	margin: 30px auto 0px;
	padding: 10px 27px;
}


/* ------------  RESPONSIVE  ------------ */

@include mq(lg){

	.form__inputs{
		flex-wrap: wrap;
	}
	input{
		width: 100%;
	}
}


form{
	@media (max-width: 680px){
		width: 90%;
	}

}


