/* =========================================
FEATURED PROJECTS
============================================ */
#projects{
		background-color: #fff;
}

.featured__project{
	display: flex;
	margin: 40px 0px;
}

.project__description{
	padding: 0px 20px;
	flex-basis: 50%;
	flex-shrink: 2;
	flex-grow: 1;
}

.project__image{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 50%;
	flex-shrink: 1;
	flex-grow: 2;
	margin: 20px;

}

.project--skills{
	display: flex;
	flex-flow: row wrap;
	li{
		text-transform:uppercase;
		font-family: $paragraph;
		font-size: 1.5rem;
		padding: 7px;
		background-color: #a8c5dd;
		margin: 5px;
	}
}

.project--buttons{
	display:flex;
	a{
		margin-right: 20px;
	}
}


// ALTERS ORDER OF IMAGE/DESCRIPTION
.featured__project:nth-child(odd) .project__image{
	order: 2;
}

.featured__project:nth-child(odd) .project__description{
	text-align: right;
}

.featured__project:nth-child(odd) .project--skills,
.featured__project:nth-child(odd) .project--buttons{
	justify-content: flex-end;
}


/* ------------  RESPONSIVE  ------------ */

@include mq(lg){

.featured__project{
	flex-direction: column;
	text-align: center;
}

.project__description{
		width: 100%;
		text-align: center;
}
.project__image{
		width: 100%;
}

.project--skills,
.project--buttons{
	justify-content: center;
}

// RESTORES ALTERNATING IMAGES

.featured__project:nth-child(odd) .project__image{
	order: 0;
}

.featured__project:nth-child(odd) .project__description{
	text-align: center;
}

.featured__project:nth-child(odd) .project--skills,
.featured__project:nth-child(odd) .project--buttons{
	justify-content: center;
}
}