/* ------------  FOOTER STYLES  ------------ */

footer{
	position: fixed;;
	bottom: 0px;
	padding: 50px 5%;
	z-index: -100;
	width: 100%;
	height: 250px;
}
.footer__nav,
.footer__socials{
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__nav li{
	margin: 5px;
	font-size: 1.7rem;
}

.footer_icon{
	color: $accent-bright;
	width: 30px;
	margin: 5px 10px;
}

/* ------------  Responsive  ------------ */

@include mq(xs){

	.footer__nav{
		flex-wrap: wrap;
		li{
			margin: 10px;
			font-size: 2rem;
		}
	}
}