/* =========================================
HEADER
============================================ */

header{
	// height: calc(100vh - 51px);
	// margin-top: 51px;
	height: 100vh;
	min-height: 500px;
	background-image: url(../../assets/background-abstract.jpg);
}

/* ------------  HEADER NAV STYLES  ------------ */

.header__nav{
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: transparent;
	padding: 0px 5%;
	z-index: 999;
	left: 0px;
	-webkit-transition: $transition;
	transition: $transition;
	color: white;
}

.logoText{
	margin-right: auto;
	opacity: 0;
}

.header__menu ul{
	display: flex;
	text-transform: uppercase;
	font-size: 1.7rem;
	font-family: $paragraph;

	li{
		overflow: hidden;
		padding: 10px 0px;
		margin: 0px 5px;
	}
	a{
		padding: 10px;
		position: relative;
	}
}

.header__menu ul a:hover{
	color: pink;
}

// HAMBURGER MENU

.menu__burger{
	cursor: pointer;
}

.menu--bar{
	width: 30px;
	height: 2px;
	background: #111;
	margin: 6px 0;
	position: relative;
	right: 0;
	-webkit-transition: $transition;
	transition: $transition;
}

.mb--top{

}

.mb--middle{
	position: relative;
	right: 5px;
}

.mb--bottom{
	
}

/* ------------  STICKY NAV & ACTIVE STYLES  ------------ */

.header__nav--bg{
	background-color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	color: black;
}

.header__nav--bg .logoText{
	opacity: 1;
}

.header__menu ul:not(.side-nav) a::after,
.header__menu ul:not(.side-nav) a::before {
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  background: $accent-bright;
  content: '';
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__menu ul:not(.side-nav) a::before {
  top: 0rem;
}

.header__menu ul:not(.side-nav) a::after {
  bottom: 0rem;
  left: 100%;
}

.header__menu ul:not(.side-nav) a.active::after, 
.header__menu ul:not(.side-nav) a.active::before {
  left: 0;
  width: 100%;
}

/* ------------  HEADER INNER STYLES  ------------ */

.header__inner{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin: 0 auto 51px;
	height: 90%;
	width: 90%;
}
