/* =========================================
HEADER
============================================ */

header{
	// height: calc(100vh - 51px);
	// margin-top: 51px;
	height: 100vh;
	min-height: 500px;
	background-image: url(../../assets/background-abstract.jpg);
}

/* ------------  HEADER NAV STYLES  ------------ */

.header__nav{
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: transparent;
	padding: 0px 5%;
	z-index: 999;
	left: 0px;
	-webkit-transition: $transition;
	transition: $transition;
	color: white;
}

.logoText{
	margin-right: auto;
	opacity: 0;
	-webkit-transition: $transition;
	transition: $transition;
	position: relative;
	left: 0;
	z-index: 50;
	background: #fff;
}


.header__menu ul{
	display: flex;
	-webkit-transition: $transition;
	transition: $transition;

	li{
		overflow: hidden;
		padding: 10px 0px;
	}
	a{
		margin: 5px;
		padding: 10px;
		position: relative;
		transition: $transition;
		&:hover{
			background-color: $accent-bright;
		}
	}
}


// HAMBURGER MENU

.menu__burger{
	display: none;
	cursor: pointer;
	-webkit-transition: $transition;
	transition: $transition;

	@include mq(sm){
		display: block;;
	}
}

.menu--bar{
	width: 30px;
	height: 2px;
	background: #fff;
	margin: 6px 0;
	position: relative;
	right: 0;
	-webkit-transition: $transition;
	transition: $transition;
}

/* ------------  STICKY NAV & ACTIVE STYLES  ------------ */

.header__nav--bg{
	background-color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #111;
}

.header__nav--bg .logoText{
	opacity: 1;
}

.header__nav--bg .menu--bar{
	background: #111;
}

.header__menu ul:not(.side-nav) a::after,
.header__menu ul:not(.side-nav) a::before {
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  background: $accent-bright;
  content: '';
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__menu ul:not(.side-nav) a::before {
  top: 0rem;
}

.header__menu ul:not(.side-nav) a::after {
  bottom: 0rem;
  left: 100%;
}

.header__menu ul:not(.side-nav) a.active::after, 
.header__menu ul:not(.side-nav) a.active::before {
  left: 0;
  width: 100%;
}

/* ------------  HEADER INNER HERO STYLES  ------------ */

.header__inner{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin: 0 auto 51px;
	height: 90%;
	width: 90%;
}


/* ------------  RESPONSIVE NAV STYLES  ------------ */

@include mq(sm){

	.header__nav{
		height: 80px;
	}

	.header__menu{
		left: 0;
		width: 100%;
		justify-content: center;
		top: -200px;
		transition: $transition;
		background: #fff;
		position: absolute;
	}

	ul{
		margin: 0 0 10px;
		flex-direction: column;
		align-items: center;
	}

.nav__mobile{
	color: black;
	background-color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;

	.header__menu{
		top: 80px;
	}

	.menu__burger .menu--bar{
		background: black;
	}

	.logoText{
		opacity: 1;
	}
	
	.menu__burger .mb--middle{
		position: relative;
		right: 5px;
	}

}



}




