/* =========================================
PORFOLIO
============================================ */

#portfolio{
	background-color: #eef3f8;
	position: relative;
}

.portfolio__container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 20px;

}

.portfolio__item{
	width: 100%;
	padding: 15px;
	height: 150px;
	background-color: $accent-bright;
	margin: 20px;
	background-size: cover;
	cursor: pointer;
}

.portfolio--saladClub{
	background-image: url('../../assets/saladclub-square.jpg')
}

.portfolio--kithub{
	background-image: url('../../assets/kithub-square.jpg')
}

.portfolio--lisbon{
	background-image: url('../../assets/lisbon-square.jpg')
}

.filter{
	width: 100%;
	position: absolute;
	height: 100%;
	background-color: #111;
	opacity: 0.6;
	z-index: 25;
}

.hidden{
	display: none;
}

/* ------------  MODAL STYLES  ------------ */

.portfolio__modal{
	width: 50%;
	position: absolute;
	left: 20%;
	top: 0;
	background-color: #fff;
	z-index: 50;
	padding: 40px;
	display: none;
}

.modalOpen{
	display: block;
}

.modal__closeButton{
	width: 30px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.modal__image{
	width: 100%;
}

.modal__skills{
	@extend .project--skills
}


/* ------------  RESPONSIVE  ------------ */

