/* =========================================
SKILLS
============================================ */

#skills{
	background: #fcfafb;
	position: relative;
	overflow: hidden;
	padding-left: 10%;
	padding-bottom: 2rem;

	h3{
		margin: 0px auto 15px 5%;
	}
}

.skills-wrapper{
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
}

.skills__desc{
	width: 30%;
ul{
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px dashed black;
	padding-bottom: 5px;
	width: 100%;
	li{
			margin: 5px;
			padding: 7px;
			background-color: #a8c5dd;
		}
	}
}


.laptop{
	position: relative;
	transform: rotate(16deg);
	width: 70%;
	top: -15%;
	left: 7%;
}

.sticker{
	position: absolute;
	filter: saturate(60%);
	transition: $transition;
	&:hover{
		filter: saturate(100%);
	}
}

.sticker--node{
	width: 15%;
	top: 73%;
	left: 69%;
	transform: rotate(3deg);
		&:hover{
		transform: rotate(3deg) scale(1.1);
	}
}

.sticker--react{
	width: 14%;
	top: 12%;
	left: 33%;
	transform: rotate(-11deg);
		&:hover{
		transform: rotate(-11deg) scale(1.05);
	}
}

.sticker--sass{
	width: 15%;
	top: 16%;
	left: 66%;
	transform: rotate(32deg);
	&:hover{
		transform: rotate(32deg) scale(1.05);
	}
}

.sticker--octocat{
	width: 16%;
	top: 65%;
	left: 9%;
	transform: rotate(-13deg);
		&:hover{
		transform: rotate(-13deg) scale(1.05);
	}
}

.sticker--gulp{
	width: 7%;
	top: 5%;
	left: 89%;
	transform: rotate(17deg);
		&:hover{
		transform: rotate(17deg) scale(1.05);
	}
}

.sticker--vscode{
	width: 9%;
	top: 49%;
	left: 80%;
	transform: rotate(-5deg);
		&:hover{
		transform: rotate(-5deg) scale(1.05);
	}
}

.sticker--heroku{
	width: 9%;
	top: 37%;
	left: 18%;
	transform: rotate(-18deg);
		&:hover{
		transform: rotate(-18deg) scale(1.05);
	}
}

.sticker--llc{
	width: 15%;
	top: 12%;
	left: 8%;
	transform: rotate(2deg);
		&:hover{
		transform: rotate(2deg) scale(1.05);
	}

}


.sticker--javascript{
	width: 9%;
	top: 73%;
	left: 41%;
	transform: rotate(0deg);
		&:hover{
		transform: rotate(0deg) scale(1.05);
	}
}


/* ------------  RESPONSIVE  ------------ */

@media(min-width: 1200px){
		.skills-wrapper{
			align-items: flex-start;
		}
}

@media (max-width: 980px){

	#skills{
		padding-left: 7%;
		h3{
			margin: 0 auto 15px;
		}
	}

	.skills-wrapper{
			margin: 3rem 0;
			align-items: center;
	}

	.skills__desc{
		width: 60%;
		display: flex;
		flex-wrap: wrap;
		margin-left: 3rem;
		ul{
			margin: 5px;
			justify-content: center;
		}
	}
	.laptop{
		order: -1;
		transform: rotate(-12deg);
		width: 45%;
		top:0;
		left: 0;
	}
}

@media(max-width: 800px){
	.skills-wrapper{
		flex-direction: column;
	}

.laptop{
	width: 70%;
	transform: rotate(0deg);
}
.skills__desc{
	width: 100%;
	margin-top: 3rem;
	margin-left: 0;
}

}