/* =========================================
SKILLS
============================================ */

#skills{
	background: #fcfafb;
	position: relative;
	overflow: hidden;
	height: 400px;

	h3{
		margin: 0px auto 30px 5%;
	}
}



.laptop{
	position: absolute;
	transform: rotate(16deg);
	left: 44%;
	top: 2rem;
	width: 55%;
}

.sticker{
	position: absolute;

}

.sticker--node{
	width: 10%;
	top: 5px;
	left: 5px;
	transform: rotate(10deg);
}

.sticker--react{
	width: 10%;
	top: 5%;
	left: 5%;
	transform: rotate(10deg);
}

.sticker--sass{
	width: 14%;
	top: 13%;
	left: 76%;
	transform: rotate(32deg);
}