/* =========================================
VARIABLES AND MIXINS
============================================ */

/* ------------  COLORS  ------------ */

$darkshade: #0c1219;
$cream: #ece6e6;
$grey: #ebebeb;
$greyblue: #7ea2b9;
$medshade: #696fa6;
$accent: #493698;
$accent-bright: #c7a2f5;
$turquoise: #64ffda;

/* ------------  Title  ------------ */

$transition: all .3s ease-in-out;

/* ------------  MEDIA QUERIES  ------------ */

// Breakpoints 
$xxs: 400px;
$xs: 530px;
$sm: 660px;
$med: 760px;
$lg: 800px;
$xl: 960px;

// MIXINS

@mixin mq($break){

	@if $break == 'xxs'{
		@media(max-width: $xxs){
		@content;
		}
	}
	@else if $break == 'xs'{
		@media(max-width: $xs){
		@content;
		}
	}

	@else if $break == 'sm'{
		@media(max-width: $sm){
		@content;
		}
  } 
  @else if $break == 'med'{
		@media(max-width: $med){
		@content;
		}
  } 
  @else if $break == 'lg'{
		@media(max-width: $lg){
		@content;
		}
  }
  @else if $break == 'xl'{
		@media(max-width: $xl){
		@content;
			}
	}
}

