#contactSuccess {
  background-color: $cream;
  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.thank_you {
  text-align: center;
  padding: 4rem 5rem;
}
