/* =========================================
MAIN STYLES & UTILITIES
============================================ */
body{
	position: relative;
}


a{
	transition: $transition;
	-webkit-transition: $transition;
}


section{
	padding: 6rem 7%;
	display: flex;
	flex-direction: column;
}

.section__heading{
	position: relative;
	z-index: 20;
}

.section__heading::after{
	position: absolute;
  display: block;
  width: calc(100% + 6px);
  height: 1rem;
  background: $accent-bright;
	content: '';
	z-index: -1;
	bottom: 0.3rem;
	left: -3px;
}

.main{
	position: relative;
}

// scroll reveal utility class
html .sr{
	visibility: hidden;
}

/* ------------  UTILITIES  ------------ */

.button{
	text-transform:uppercase;
	font-family: $paragraph;
	font-size: 1.6rem;
	padding: 9px 18px;
	border: 1px solid #a0b7c9;
	box-shadow: 5px 5px #a0b7c9;
	text-align: center;
	transition: $transition;
	position:relative;
	&:hover{
		top: 2px;
		box-shadow: 3px 3px #a0b7c9;
	}
}


